@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h2 style="margin-top: 10px">Error. File limit exceeded</h2>
        <h6 style="margin-top: 10px">@Html.ActionLink("Go Back", "Index", "Home")</h6>
        <br />
    </div>
</body>
</html>
